.page-numbers {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-numbers li {
  padding: 10px;
  border: 1px solid #171717;
  cursor: pointer;
  margin: 4px;
}

.page-numbers li.active {
  background-color: #171717;
  color: #fff;
}

.page-numbers li button {
  background-color: transparent;
  border: none;
  color: #171717;
  font-size: 1.5rem;
  cursor: pointer;
}
